<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/icons.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
</head>

<body>
  <div class="grid-container">
    <nav>
      <div class="burger-menu">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul>
        <li>Home</li>
      </ul>
    </nav>
    <main>

      <article>
        <% resultArray.forEach(item => { %>
        <div>
          <img src=<%=item.image_url %>>
          <h2>
            <%= item.title %>
          </h2>
          <p>
            <%= item.author %>
          </p>
          <p>
            <%= item.isbn %>
          </p>
          <p>
            <%= item.description %>
          </p>
        </div>
        <form action="/save" method="post">
          <input type="text" name="title" placeholder="Enter title" value="<%= item.title %>" required>
          <input type="text" name="author" placeholder="Enter author" value="<%= item.author %>" required>
          <input type="text" name="isbn" placeholder="Enter isbn" value="<%= item.isbn %>" required>
          <input type="text" name="description" placeholder="Enter description" value="<%= item.description %>"
            required>
          <input type="text" name="bookshelf" placeholder="Enter bookshelf name" required>
          <button type="submit">Add Book to Bookshelf</button>
        </form>
        <% }) %>
      </article>

    </main>
  </div>
</body>

</html>