<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/icons.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
</head>


<body class="container">
  <header role="banner">
    <a class="toggle open" href="#nav-bar" title="">
      <span class="icon-menu"><i aria-hidden="true" class="icon-menu"></i></span><span>Home</span>
    </a>
  </header>
  <nav id="nav-bar" role="navigation">
    <a class="toggle close" href="#">x</a>
    <ul>
      <li>Bookshelf</li>
      <li>Menu</li>
      <li>Search</li>

    </ul>
  </nav>

  <main>

    <article class="book-card">
      <% resultArray.forEach((item,index) => { %>
      <div>
        <img src=<%=item.image_url %>>
        <button onclick="showHideDetail(<%= index %>)">Detail</button>
        <div id="detail-toggle<%= index %>">
          <h2>Title:
            <%= item.title %>
          </h2>
          <p>Author:
            <%= item.author %>
          </p>
          <p>ISBN:
            <%= item.isbn %>
          </p>
          <p>Description:
            <%= item.description %>
          </p>
          <button onclick="showHide()">Save Book</button>
          <form id="form-toggle" action="/save" method="post">
            <input type="text" name="title" placeholder="Enter title" value="<%= item.title %>" required>
            <input type="text" name="author" placeholder="Enter author" value="<%= item.author %>" required>
            <input type="text" name="isbn" placeholder="Enter isbn" value="<%= item.isbn %>" required>
            <input type="text" name="description" placeholder="Enter description" value="<%= item.description %>"
              required>
            <input type="text" name="image_url" placeholder="Enter image URL" value="<%= item.image_url %>" required>
            <input type="text" name="bookshelf" placeholder="Enter bookshelf name" value="default" required>
            <button type="submit">Add Book to Bookshelf</button>
          </form>
        </div>
      </div>
      <% }) %>
    </article>


  </main>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>

</html>