<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
</head>

<body>
  <nav>
    <div class="burger-menu">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul>
      <li>Home</li>
      <a href="searchBar">
        <li>Search Books on Google Books</li>
      </a>

    </ul>
  </nav>
  <main>
    <article class="bookshelf">
      <% bookShelf.forEach((item,shelfIndex) => { %>
      <h1>
        <%= item.shelfName %>
      </h1>
      <div>
        <% item.listOfBooks.forEach((books,index)=> { %>
        <div>
          <img src=<%=books.image_url %>>
          <button onclick="showHideDetail(<%= shelfIndex %>,<%= index %>)">Detail</button>
          <button>Delete</button>
          <div id="detail-toggle-index<%= shelfIndex %><%= index %>">
            <h2>Title:
              <%= books.title %>
            </h2>
            <p>Author:
              <%= books.author %>
            </p>
            <p>ISBN:
              <%= books.isbn %>
            </p>
            <p>Description:
              <%= books.description %>
            </p>
          </div>
        </div>
        <button>Edit</button>
        <form id="edit" action="/edit" method="post">
          <input type="text" name="title" placeholder="Enter title" value="<%= books.title %>" required>
          <input type="text" name="author" placeholder="Enter author" value="<%= books.author %>" required>
          <input type="text" name="isbn" placeholder="Enter isbn" value="<%= books.isbn %>" required>
          <input type="text" name="description" placeholder="Enter description" value="<%= books.description %>"
            required>
          <input type="text" name="image_url" placeholder="Enter image URL" value="<%= books.image_url %>" required>
          <select>
            <% bookShelf.forEach((tableName,shelfIndex) => { %>
            <option value="<%= tableName.shelfName %>">
              <%= tableName.shelfName %>
            </option>
            <% }) %>
          </select>
          <button type="submit" class="hide">Complete Edit</button>
        </form>
        <% }) %>
      </div>
      <% }) %>
  </main>

  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/index-app.js"></script>
</body>

</html>